.checkBoxFormGroup {
  margin-left: 124px;
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  max-width: 468px;
  row-gap: 15px;
  column-gap: 24px;
  @media (max-width: 1024px) {
    margin-left: 10%;
  }
}

.selectAll {
  flex: 1 1 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.district {
  flex: 0.25 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.checkboxInput {
  display: none;
}

.customCheckbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 13px;
  background-color: #fff;
  background-image: url("uncheck.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
}

.checkboxInput:checked + .customCheckbox {
  background-color: #b6cc23;
  background-image: url("check.svg");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
}
