.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8%;
  margin-right: 8%;
}

.logo {
  margin-right: 20px;
}

.pages {
  display: flex;
  gap: 40px;
  @media (max-width: 1024px) {
    display: none;
  }
}

.navLinks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.navLinks a {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #677511;
  transition: color 0.3s;
}

.navLinks a:hover {
  color: #b6cc23;
  font-weight: 700;
}

.activeClassName {
  color: #b6cc23 !important;
  font-weight: 700 !important;
}

.loginButton {
  background-color: #b6cc23;
  padding: 10px 24px;
  border-radius: 100px;
  @media (max-width: 1024px) {
    display: none;
  }
}

.loginLink {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

@media (max-width: 1024px) {
  .hamburgerMenu {
    display: block;
  }
}

@media (min-width: 1025px) {
  .hamburgerMenu {
    display: none;
  }
}

.menu {
  margin-top: 100px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #b5cc22;
  z-index: 1;
}

.menuContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 77%;
  padding: 32px;
}

.menuContent a {
  text-decoration: none;
  color: #fff;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.18em;
}

.menuPages {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.menuLogin {
  background-color: #ffffff;
  padding: 10px 24px;
  border-radius: 100px;
}

.menuLogin a {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #b5cc22;
}
