.searchbar {
  background: url(/search_24px.svg) 90% / 18px no-repeat;

  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #aeaeae;
  border: none;
  background-color: #f6f6f6;
}
