.searchContainer {
  width: 310px;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.searchbar {
  background: url(search_24px.svg) 90% / 18px no-repeat;
  width: 100%;
  padding: 10px 16px 10px 16px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  color: #b5cc22;
  border: none;
  background-color: #f6f6f6;
  @media (max-width: 768px) {
    padding: 10px 0px 10px 16px;
    font-size: 16px;
  }
}

.suggestionList {
  max-width: 310px;
  width: 100%;
  list-style: none;
  padding: 0;
  position: absolute;
  background-color: #f6f6f6;
  max-height: 273px;
  overflow-y: auto;
  margin-top: 13px;
  border-radius: 8px;
}

.suggestionItem {
  cursor: pointer;
  padding: 16px;
  font-size: 18px;
  font-weight: 400;
  transition: background-color 0.3s;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.suggestionItem:hover {
  color: #b5cc22;
  font-weight: 500;
}
