.selectWrapper {
  width: 175px;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.selectHeader {
  background-color: #f6f6f6;
  padding: 8px 50px 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  background: url(arrow.svg) 90% / 18px no-repeat;
  background-color: #f6f6f6;
  color: #323232;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.dropdown {
  margin-top: 12px;
  position: absolute;
  width: 175px;
  background-color: #f6f6f6;
  border: none;
  border-radius: 8px;
}

.option {
  cursor: pointer;
  margin: 16px;
  font-size: 18px;
  font-weight: 400;
  color: #323232;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.option:hover {
  color: #b5cc22;
}
