.tablecontainer {
  margin: 40px 8%;
  @media (max-width: 768px) {
    width: 84%;
    overflow-x: scroll;
    border-radius: 28px;
  }
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.tableHeader {
  text-align: center;
  vertical-align: middle;
  background-color: #b5cc22;
  color: #ffffff;
  padding: 21px;
  font-size: 18px;
  font-weight: 500;
}

.tableHeader:first-child {
  border-radius: 28px 0 0 0;
}

.tableHeader:last-child {
  border-radius: 0 28px 0 0;
}

.tableData {
  text-align: center;
  vertical-align: middle;
  padding: 24px;
  color: #323232;
  font-size: 16px;
  font-weight: 400;
}

.tableData:first-child {
  border-left: 0.5px solid #aeaeae;
}

.tableData:last-child {
  border-right: 0.5px solid #aeaeae;
}

.tableData:nth-child(4),
.tableData:nth-child(5) {
  color: #b5cc22;
  font-size: 18px;
  font-weight: 700;
}

.tableBodyRow:nth-child(odd) {
  background-color: #ffffff;
}

.tableBodyRow:nth-child(even) {
  background-color: #f6f6f6;
}

.tableBodyRow:last-child td:nth-child(2),
.tableBodyRow:last-child td:nth-child(3),
.tableBodyRow:last-child td:nth-child(4) {
  border-bottom: 0.5px solid #aeaeae;
}

.tableBodyRow:last-child td:first-child {
  border-left: 0.5px solid #aeaeae;
  border-bottom: 0.5px solid #aeaeae;
  border-radius: 0 0 0 28px;
}

.tableBodyRow:last-child td:last-child {
  border-right: 0.5px solid #aeaeae;
  border-bottom: 0.5px solid #aeaeae;
  border-radius: 0 0 28px 0;
}

.tableHeader:nth-child(1),
.tableHeader:nth-child(2) {
  @media (max-width: 768px) {
    min-width: 60px;
  }
}

.tableHeader:nth-child(3) {
  @media (max-width: 768px) {
    min-width: 200px;
  }
}
.tableHeader:nth-child(4),
.tableHeader:nth-child(5) {
  @media (max-width: 768px) {
    min-width: 80px;
  }
}
